.super-rare {
  display: flex;
  flex-direction: column;
  transition: none !important;
  visibility: visible !important;
  opacity: 1 !important;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
  padding-bottom: 10vh;
  padding-top: 20vh;
  .title-container {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    .title {
      font-family: Nunito;
      font-size: 4vh;
      color: white;
      font-weight: 800;
      margin: 3vh 0vh 3vh;
    }
    .description {
      display: none;
      font-family: Nunito;
      color: var(--accent-color3);
      a {
        color: var(--accent-color3);
        font-weight: bold;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    // gap: 1rem;
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .super-rare {
    padding: 1rem 2rem;
    width: 100vw;
    .cards {
      overflow: auto;
      justify-content: flex-start;
      gap: 2rem;
      padding-left: 1.5rem;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        zoom: 0.7;
      }
    }
  }
}
