.preloader {
    height: 100vh;
    width: 100%;
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    overflow: hidden !important;
  
    .texts-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 25vh;
      width: 55vw;
      font-family: "Nunito", sans-serif;
      font-size: 6vw; /* Use vw for font size */
      overflow: hidden;
      font-weight: 800;
      opacity: 0;
      color: $black;
      img {
        width: 5vw;
      }
    }
  }
  
  /* Media queries for responsiveness on different devices */
  @media screen and (max-width: 320px) {
    .preloader {
      .texts-container {
        width: 25vw;
        height: 18vh;


        font-size: 5vw;
      }
      img {
        width: 3vw;
      }
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 768px) {
    .preloader {
      .texts-container {
        width: 30vw;

        font-size: 4vw;
      }
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .preloader {
      .texts-container {
        font-size: 3vw;
      }
    }
  }
  
  /* Add more media queries as needed for other device sizes */
  